@import './components/DoorOptions/DoorOptions.scss';
@import './components//utils/Utils.scss';
@import './components//Components.scss';
@import './components/Modificators.scss';

// MAIN --------------------------------------------
html,
body {
    font-family: "Roboto", sans-serif;
    color: rgba(132, 140, 147, 1);
}

button {
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}

label {
    cursor: pointer;
}